@charset "utf-8";

/*googleips 웹폰트 css 파일 불러오기*/
@import url(https://fonts.googleapis.com/css?family=Galada|Nanum+Gothic|Nanum+Myeongjo);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;900&display=swap');
/*
font-family: 'Noto Sans KR', sans-serif;
*/
/*font-family: 'Nanum Gothic', sans-serif;
font-family: 'Nanum Myeongjo', serif;
font-family: 'Galada', cursive; */

/* 저장된 글꼴 파일 선언*/
/* @font-face { font-family : font_gothic;    
                src : url(../font/NanumGothic.ttf); }  */
/* 웹사이트의 글꼴 파일 선언*/
/* @font-face { font-family : font_gothic;    
                src : url(http://uhbee.com/nanum.eot) ; }   */


* {margin:0; padding:0;}
html{font-size:16px;}
body{ font-size:16px;
      color:#6f6f6f;
      font-family: 'Nanum Gothic', sans-serif }
ul, ol, li{list-style-type:none}
img, fieldset{border:none;vertical-align: middle}
hr {clear:both;border:none}
a {color:inherit;text-decoration:none;
   outline:0}
table{border-collapse:collapse}
input, textarea,
input::placeholder, textarea::placeholder {
      color:inherit;font-size:inherit;
       font-family:inherit;
       vertical-align: middle;
      outline: 0;}
button{outline:0}

.sound_only{display: block;text-indent:-9999999999px;
      height:0}

      .inner{width: 1200px}
      #header{z-index: 9999999; position: absolute;width: 100%;min-width: 1200px;left: 0;top: 20px;}
      #header #logo{float: left;}
      #header #logo img{width: 50%;}
      #header #nav2{float: right;}
      #header #nav2 .depth1{float: left;}
      #header #nav2 .head_top{float: left;}
    
 
        .navi .depth1{/*position: absolute;width:100%;top:50px;left:0;*/}
        .navi .depth1 >li {float:left;position: relative;}
        .navi .depth1 >li:hover{background-color:#333;color: #fff;}
        .navi .depth1 >li > a{display: block;text-align: center;
                    font-size: 1.1rem;font-weight: bold;padding:10px 40px;line-height: 1em;}
        .navi .depth1 >li> ul {font-size:0.9rem;line-height: 1.1em;box-sizing: border-box;position:absolute;width: 100%; box-sizing: border-box;text-align: center;}
        .navi .depth1 >li> ul:before{content: '';display: block;height:30px;}
        
        #nav2 .depth1 {z-index:98;height:calc(1.1rem + 19px);overflow:hidden;
            transition: height 1s;border-bottom:1px solid transparent;}  
#nav2 .depth1:hover{height:calc(1.1rem + 20px + 400px);border-bottom-color:#ccc}

#nav2 .depth1 ul {border-right:1px solid #ccc;height:400px;opacity: 0;transition: opacity 1s;padding:0 10px; }
#nav2 .depth1 li:first-child ul{border-left:1px solid #ccc;}
#nav2 .depth1:hover ul{opacity: 1;}